sudo: required
services:
  - docker

before_install:
  - export DEV=true
  - docker-compose build

script:
  - docker-compose run --rm app sh -c "pylint ./app"
  - docker-compose run --rm app sh -c "./app/wait_for_db.sh && coverage run -m pytest"

after_script:
  - export DEV=false

after_success:
  - docker-compose run --rm app sh -c "coveralls"